
:root,
textarea,
select,
input,
button {
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	font-size: 16px;
}



* {
	line-height: 150%;

	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 9999s;
	-webkit-text-fill-color: var(--accent1);
}

*{
	--var1: 20px;
	--var2: 8px;
}


.base {
	display: flex;
	flex-direction: column;
	gap: var(--var2);

	height: 100vh;
	padding: var(--var1) 0;

}

.error {
	color: red;
}

input,
textarea,
button {
	border-radius: var(--var2);
	border: 2px solid gray;
	padding: var(--var1);

	resize: none;
}

button:hover {
	background-color: rgb(193, 193, 193);
	cursor: pointer;
}