[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
llama-index = "*"
langchain = "*"
flask = "*"
flask-cors = "*"
python-dotenv = "*"
deta = "*"

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.10"
